<%= form_for :session, :url =>{:controller => "sessions", :action => "login"} do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :class => "form-input" %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, :class => "form-input" %>
  </div>
  <div class="actions">
    <%= f.submit "LOGIN", :class => "form-btn" %>
  </div>
<% end %>

<div class="text-center">
  Or Go to <%= link_to 'Signup', "/signup"%>
</div>
