<div class="main">
	<div class="container media-form">
		<%= form_for :new_media, :url =>{:controller => "home",:action => "upload"}, :html => {:multipart => true} do |f| %>
			<div class="file-wrapper">
		  	<%= f.file_field :media_file, :class => "custom-file-input" %>
		  </div>
		  <%= f.label "Choose file..", :for => "new_media_name", :class => "file-name" %>
		  <%= f.submit "UPLOAD", :class => "form-btn" %>
		<% end %>
	</div>
</div>

<% if @media.length > 0 %>
	<div class="container standard">
		<h4 class="text-center">LIST OF UPLOADS</h4>
		<div class="media-table header">
			<div class="col col-6 bold text-center">
				File Name
			</div>
			<div class="col col-6 bold text-center">
				<% if @current_user[:role] != 'admin' %>
					Action
				<% end %>
				<% if @current_user[:role] == 'admin' %>
					User's Id
				<% end %>
			</div>
		</div>
	</div>
<% end %>

<div class="container standard">
	<div class="media-table ">

		<% @media.each do |medium| %>
			<div class="col col-6">
				<%= medium[:filename] %>
			</div>
			<div class="col col-6 text-center">
				<% if @current_user[:role] != 'admin' %>
					<%= link_to 'Delete', medium, :confirm => 'Are you sure?', :method => :delete %>
				<% end %>
				<% if @current_user[:role] == 'admin' %>
					<%= medium[:user_id] %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>